@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
canvas {
    display: block;
}
#particles-js canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #076187;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    min-height: 35em;
    align-items: center;
}
.quote-color {
    color: antiquewhite;
}
.link-color {
    color: azure;
    text-decoration: underline;
}
.link-color:hover {
    color: grey;
    text-decoration: none
}
.spacer {
    margin: 1em;
}
